name: faux-crucible-ci

on:
  pull_request:
    branches: [ main ]
    paths:
    - LICENSE
    - '**.md'
    - .github/workflows/faux-crucible-ci.yaml
    - 'docs/**'

jobs:
  test-benchmark-crucible-ci-complete:
    runs-on: ubuntu-latest
    steps:
    - run: 'echo "No build required" '

  test-core-crucible-ci-complete:
    runs-on: ubuntu-latest
    steps:
    - run: 'echo "No build required" '

  run-core-crucible-ci-complete:
    runs-on: ubuntu-latest
    steps:
    - run: 'echo "No build required" '
